* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

    :root {
    --fondo: #ffffff;
    --texto: #111111;
}

.modo-oscuro {
    --fondo: #111111;
    --texto: #ffffff;
}

body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--fondo);
    color: var(--texto);
}

/* Contenedor principal */

.calculator {
    width: 350px;
    padding: 25px;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.7);
    box-shadow:
        0 0 20px #00ffff,
        0 0 40px #7a00ff;
}


/* Título */

.calculator h1 {
    text-align: center;
    color: #00ffff;
    margin-bottom: 20px;
    text-shadow: 0 0 10px #00ffff;
}

#clock{
    text-align:center;
    color:#00ffff;
    font-size:14px;
    margin-bottom:15px;
    letter-spacing:1px;
}

/* Pantalla */

.display input {

    width: 100%;

    height: 70px;

    margin-bottom: 15px;

    background: rgba(0, 0, 0, 0.6);

    border: 2px solid #00ffff;

    border-radius: 15px;

    color: #ffffff;

    font-size: 35px;

    text-align: right;

    padding: 15px;

    outline: none;

    box-shadow:
        0 0 15px #00ffff,
        inset 0 0 15px rgba(0,255,255,0.4);

}

.display input:focus {

    border-color: #ff00ff;

    box-shadow:
        0 0 20px #ff00ff,
        inset 0 0 20px rgba(255,0,255,0.4);

}


/* Botones */

.buttons {

    display: grid;

    grid-template-columns: repeat(4, 1fr);

    gap: 15px;

}


button {

    height: 60px;

    border-radius: 15px;

    border: none;

    cursor: pointer;

    font-size: 22px;

    color: white;

    background: #111;

    box-shadow: 0 0 10px #333;

    transition: 0.3s;
    
}

button {

    transition: 
        transform 0.2s ease,
        box-shadow 0.2s ease;

}


button:hover {

    transform: translateY(-5px);

    box-shadow:
        0 0 15px #00ffff,
        0 0 30px #ff00ff;

}


button:active {

    transform: scale(0.95);

}

button:hover {

    transform: scale(1.08);

    box-shadow:
        0 0 15px hsl(182, 81%, 49%),
        0 0 30px #8603a7;

}


/* Operadores */

.operator {

    color: #00ffff;

    border: 1px solid #00ffff;

}


/* Igual */

.equal {

    background: linear-gradient(45deg, #ff00ff, #00ffff);

    grid-column: span 2;

}


.equal:hover {

    box-shadow:
    0 0 20px #7a00ff,
    0 0 40px #ff00ff;

}

/* Diseño para pantallas pequeñas */

@media (max-width: 500px) {

    .calculator {

        width: 90%;

        padding: 20px;

    }


    .calculator h1 {

        font-size: 24px;

    }


    .display input {

        height: 65px;

        font-size: 30px;

    }


    button {

        height: 55px;

        font-size: 20px;

    }


    .buttons {

        gap: 10px;

    }

}

.modo {
    grid-column: span 4;
}



